@import "../../../../assets/styles/colors";

:host {
  height: 100%;

  .cities-list {
    width: 200px;
    height: 100%;
    border-left: 1px solid $light-border;
    background-color: $light-background;
    word-break: break-word;

    &_title h3 {
      padding: 4px;
      margin: 0;
      font-size: 16px;
      text-align: center;
      color: #7b1fa2;
    }

    &_list-wrap {
      display: flex;
      flex-direction: column;
      border-top: 2px solid $light-border;
    }

    &_items-wrap {
      height: calc(100vh - 226px);
      overflow-y: auto;
    }

    &_items {
      margin: 0;
      padding: 0;
      list-style: none;
    }

    &_item-current {
      height: 48px;
      overflow-y: auto;
    }

    &_item {
      display: flex;
      align-items: center;

      &-name {
        width: 100%;
        height: 100%;
        padding: 8px;
        justify-content: initial;
        text-align: initial;
        font-size: 14px;
        letter-spacing: initial;
        line-height: 16px;
      }

      &-delete {
        min-width: 32px;
        height: 32px;
        font-size: 12px;
        font-weight: bold;
        color: #e08fed;
      }
    }

    &_clear {
      border-top: 2px solid $light-border;
      padding-top: 8px;
      padding-bottom: 8px;
      text-align: center;

      button {
        width: 100%;
        color: #e08fed;
      }
    }
  }

  .item-placeholder {
    padding: 8px;
    font-size: 14px;
    letter-spacing: initial;
    line-height: 16px;
    color: #b96bb9;
  }
}
