<form class="search_form">
  <div class="search_wrapper">
    <input class="search_city search_input"
           name="inputCity"
           type="text"
           placeholder="Enter the name of the city"
           [(ngModel)]="inputCity"
           (ngModelChange)="setSearchingCity($event)"
    >
    <div class="search_results">
      <div class="search_city search_result-item"
           *ngFor="let city of citiesVariants"
           (click)="chooseCity(city)"
      >{{city.formatted}}
      </div>
    </div>
  </div>
</form>
