@import "../../../../assets/styles/colors";

:host {
  width: 100%;
  padding: 16px;
  text-align: center;

  .search {

    &_wrapper {
      position: relative;
      width: 372px;
      margin: auto;
    }

    &_city {
      width: 100%;
      min-height: 38px;
      padding-left: 10px;
      padding-right: 10px;
      border: none;
      font-size: 16px;
      color: #805088;
    }

    &_input {
      outline: none;
      background: white;
      border-bottom: 2px solid $light-border;
      border-radius: 5px 5px 0 0;
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }

    &_input::placeholder {
      color: #c281c2;
      opacity: 1;
    }

    &_results {
      position: absolute;
      z-index: 1;
      left: 0;
      padding-top: 3px;
      padding-bottom: 5px;
      background: $light-border;
      border-radius: 0 0 5px 5px;
      box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
    }

    &_result-item {
      width: 372px;
      background: white;
      text-align: initial;
      padding-top: 10px;
      padding-bottom: 6px;

      &:hover {
        cursor: pointer;
        background: $light-background;
        transition: opacity 0.3s;
      }

      &:active {
        cursor: pointer;
        background: #faf1ff;
      }
    }
  }
}