<mat-card *ngIf="cityWeather as cw"
          [ngStyle]="{backgroundImage: getBackgroundImage()}"
          class="weather-widget_card">
  <mat-card-content class="weather-widget_info blur">
    <div class="weather-widget_info-left">
      <mat-card-title class="weather-widget_title">{{cityName}}</mat-card-title>
      <div class="weather-widget_temp-info">
        <img class="weather-widget_condition-icon"
             src="{{cw.conditionIcon}}" alt="condition icon" width="64" height="64"
        >
        <div class="weather-widget_temperature">{{cw.tempCelsius}}
          <div class="weather-widget_celsius">C</div>
        </div>
      </div>
    </div>
    <div class="weather-widget_info-right">
      <span>{{cw.conditionText}}</span>
      <br>
      <span>Feels like: {{cw.feelsLike}} C</span>
      <br>
      <span>Wind: {{cw.windSpeedKph / 3.6 | number: '1.1-1'}} mps {{cw.windDir}}</span>
      <br>
      <span>Humidity: {{cw.humidity}}%</span>
      <br>
      <span>Pressure: {{cw.pressureMb}} mb</span>
    </div>
  </mat-card-content>
</mat-card>
