@import "../../../../assets/styles/colors";

:host {
  width: 100%;

  .weather-wrap {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;

    .weather-widget {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 100%;
      height: 100%;

      &_tools {
        display: flex;
        width: 100%;
      }
    }
  }
}
